<mat-card>
<mat-action-list>
  <div mat-subheader>Menu</div>
   
  <button mat-list-item routerLink="/admin/"> <mat-icon>home</mat-icon> Dashboard</button>
  <button mat-list-item routerLink="/admin/profile">
    
    <mat-icon>account_circle</mat-icon> Profile</button>
    <button mat-list-item routerLink="/admin/quizzes"> <mat-icon>quiz</mat-icon> Questions</button>
    <button mat-list-item routerLink="/admin/add-quiz"> <mat-icon>add</mat-icon> Add Question</button>
    <button mat-list-item routerLink="/admin/categories"> <mat-icon>library_books</mat-icon> Categories </button>
    <button mat-list-item routerLink="/admin/add-category"> <mat-icon>add_circle_outline</mat-icon> Add Categories</button>
    
    <button mat-list-item routerLink="/admin/profile"> <mat-icon>logout</mat-icon> LOGOUT</button>
</mat-action-list>


</mat-card>
